name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        preset: [android, ios, linux, macos, windows]
        version: [1.1.1v, 3.0.10, 3.1.2]
        include:
          - { os: macos, preset: ios }
          - { os: macos, preset: macos }
          - { os: ubuntu, preset: android }
          - { os: ubuntu, preset: linux }
          - { os: windows, preset: windows }
    name: ${{ matrix.preset }}-${{ matrix.version }}
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: .cpm
          key: openssl-${{ matrix.version }}-cpm
          enableCrossOsArchive: true
      - uses: actions/cache@v3
        with:
          path: .ccache
          key: openssl-${{ matrix.version }}-ccache-${{ matrix.preset }}-${{ github.run_id }}
          restore-keys: openssl-${{ matrix.version }}-ccache-${{ matrix.preset }}-

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build ccache
      - name: Install dependencies on macOS
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install ccache
      - name: Install dependencies on Windows
        if: runner.os == 'Windows'
        run: |
          choco install -y jom nasm ccache
          echo "PATH=$ENV:PATH;C:\Program Files\NASM" >> $ENV:GITHUB_ENV

      - name: Configure ccache
        run: |
          ccache -o cache_dir=${{ github.workspace }}/.ccache
          ccache -z

      - name: Configure CMake
        run: >
          cmake --preset ${{ matrix.preset }}
          -DCPM_SOURCE_CACHE=".cpm"
          -DOPENSSL_BUILD_VERBOSE=ON
          -DOPENSSL_CONFIGURE_VERBOSE=ON
          -DOPENSSL_TARGET_VERSION="${{ matrix.version }}"

      - name: Build
        run: cmake --build --preset ${{ matrix.preset }}

      - name: Test
        if: contains(fromJSON('["linux", "macos", "windows"]'), matrix.preset)
        run: ctest --preset ${{ matrix.preset }}

      - name: Show ccache statistics
        run: ccache -sv

  build-mingw64:
    strategy:
      fail-fast: false
      matrix:
        version: [1.1.1v, 3.0.10, 3.1.2]
    name: mingw64-${{ matrix.version }}
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: .cpm
          key: openssl-${{ matrix.version }}-cpm
          enableCrossOsArchive: true
      - uses: actions/cache@v3
        with:
          path: .ccache
          key: openssl-${{ matrix.version }}-ccache-mingw64-${{ github.run_id }}
          restore-keys: openssl-${{ matrix.version }}-ccache-mingw64-
      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: >-
            mingw-w64-x86_64-ccache
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-make

      - name: Configure ccache
        run: |
          ccache -o cache_dir=$(cygpath -u "${{ github.workspace }}/.ccache")
          ccache -z

      - name: Configure CMake
        run: >
          cmake -B build -G "MinGW Makefiles"
          -DCPM_SOURCE_CACHE=.cpm
          -DOPENSSL_BUILD_VERBOSE=ON
          -DOPENSSL_CONFIGURE_VERBOSE=ON
          -DOPENSSL_TARGET_VERSION=${{ matrix.version }}
          -DOPENSSL_TEST=ON

      - name: Build
        run: cmake --build build

      - name: Test
        working-directory: build
        run: ctest -V

      - name: Show ccache statistics
        run: ccache -sv
